 body{
  display: flex;
   height: 100vh;

}
#calculator{
  margin: auto;
  padding: 20px;
  background: rgb(155, 184, 28);
  box-shadow: 0 0 10px black;
  border-radius: 15px;
}
#display, button{
  width: 100px;
  padding: 10px;
   margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
    box-shadow: 2px 2px rgb(184, 66, 66) ;
    font: bold 2em  icon;
     outline: none;
  
}
#display{
    width: 450px;
  text-align: right;
}
